$gray: #666666;
$darkBlue: #1d253c;
$blue: #2b6bf3;
$yellow: #ffdd2d;
$blueLight: #c2d2f4;
$pink: #fd466e;
$white: #f1f4fc;
$green: #27ae60;
$greenLight: #6fcf97;

$fontSize: 16px;

$duration: all 0.3s ease;

$maxWidth: 1366px;
$maxWidthContainer: 1260px;
