@import './variables';
@import './normalize';
@import './components/nav-bar';
@import './components/home';
@import './components/delivery';
@import './components/partners';
@import './components/activity';
@import './components/payment';
@import './components/about-us';
@import './components/footer';

body {
  color: $gray;
  font-size: $fontSize;
  background-color: white;
  font-family: 'Intro';
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: $maxWidthContainer;
  padding: 0 15px;
}
